---
search: false
---

@charset "utf-8";

@import "./font-gravity.scss";

/* Variables */

$primary-color: rgb(180, 130, 227);
$sans-serif:
  "Gravity",
  -apple-system,
  BlinkMacSystemFont,
  sans-serif;

/* End Variables */

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

/* Custom CSS */

.layout--single.wide {
  .page,
  .breadcrumbs ol {
    width: 100% !important;
  }
}

#page-title img {
  max-width: min(500px, calc(100vw - 1em));
}

#footer {
  text-align: center;
}

/* GFM Alerts */

.markdown-alert {
  @include notice($light-gray);
}

.markdown-alert-important {
  @include notice($primary-color);
}

.markdown-alert-note {
  @include notice($info-color);
}

.markdown-alert-warning {
  @include notice($warning-color);
}

.markdown-alert-tip {
  @include notice($success-color);
}

.markdown-alert-caution {
  @include notice($danger-color);
}
