---
search: false
---

@charset "utf-8";

@import "./font-gravity.scss";

/* Variables */

$primary-color: rgb(180, 130, 227);
$sans-serif:
  "Gravity",
  -apple-system,
  BlinkMacSystemFont,
  sans-serif;

/* End Variables */

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.layout--single.wide {
  .page,
  .breadcrumbs ol {
    width: 100% !important;
  }
}

#footer {
  text-align: center;
}
