---
search: false
---

@charset "utf-8";

@import "./font-gravity.scss";

/* Variables */

$primary-color: rgb(180, 130, 227);
$sans-serif:
  "Gravity",
  -apple-system,
  BlinkMacSystemFont,
  sans-serif;

/* End Variables */

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

/* Custom CSS */

.mono {
  font-family: $monospace;
}

.layout--single.wide {
  .page,
  .breadcrumbs ol {
    width: 100% !important;
  }
}

.page__hero-caption {
  font-family: $sans-serif;
  font-style: italic;
}

#page-title img {
  max-width: min(500px, calc(100vw - 1em));
  filter: drop-shadow(0 0 20px rgba(255, 255, 255, 0.5));
}

#footer {
  text-align: center;
}

.archive__item-teaser {
  text-align: center;
  filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.5));

  img {
    max-width: 64px;
  }
}

.text--danger {
  color: $danger-color;
}

.announcement {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.25);
  padding: 0.25em 0;
}

/* GFM Alerts */

.markdown-alert {
  @include notice($light-gray);
}

.markdown-alert-important {
  @include notice($primary-color);
}

.markdown-alert-note {
  @include notice($info-color);
}

.markdown-alert-warning {
  @include notice($warning-color);
}

.markdown-alert-tip {
  @include notice($success-color);
}

.markdown-alert-caution {
  @include notice($danger-color);
}
